#checkout-wrapper {
    display: flex;
    flex-direction: column;
    padding: 50px 100px 0px 100px;
    justify-content: space-between;
}

#return-to-cart-link {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
}

#checkout-wrapper h1 {
    margin-bottom: 20px;
}
#checkout-contents {
    display: flex;
    justify-content: space-between;
}

#checkout-data-wrapper {
    width: 40%;
}

#checkout-data-tabs {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.checkout-form {
    height: 2.5rem;
    margin: 5px;
    padding-left: 10px;
    background-color: transparent;
    border: 1px solid darkgray;
}

.checkout-data-title {
    margin: 10px;

}

.checkout-forms {
    display: flex;
    flex-direction: column;
}

#checkout-information-names,
#checkout-shipping-address,
#checkout-payment-card-name,
#checkout-payment-card-info,
#checkout-payment-card-date {
    display: flex;
    justify-content: space-between;
}

#checkout-information-names input,
#checkout-shipping-address input,
#checkout-payment-card-name input {
    width: 48%;
}

#checkout-payment-card-info input#checkout-payment-card-no {
    width: 70%;
}

#checkout-payment-card-date {
    display: flex;
    justify-content: start;
}

#checkout-payment-card-date input {
    width: 20%;
}

#checkout-order-wrapper {
    width: 40%;
    border: 2px solid darkgray;
}

.checkout-processing-button-wrapper {
    display: flex;
    justify-content: space-between;
}

.checkout-processing-button {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    padding: 15px 20px;
    justify-self: end;
}

#checkout-conditions-wrapper {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-left: 10px;

}

#checkout-order-count-wrapper {
    display: flex;
    justify-content: end;
}

#checkout-order-count {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 /1;
    width: 50px;
    background-color: white;
}

#checkout-order-details-wrapper {
    margin: 0 50px 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#checkout-order-products-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 200px;
    gap: 20px;
    overflow-y: auto;
    max-height: 400px;
}

#empty-cart-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.checkout-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.checkout-item-image {
    width: 30%;
}

.checkout-item-middle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 25px;
}

.checkout-item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 25px;
}

.checkout-item-change {
    text-decoration: underline;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.checkout-price-box {
    display: flex;
    justify-content: space-between;
}

.hidden{
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

.deactive-tab {
    color: darkgray;
}

